.button.loadMore {
  display: block;
  padding: 5px 40px;
  margin: 0 auto;
  margin-bottom:30px;
  border: solid 1px #989898;
  letter-spacing: -2px;
  font-size:1em;
  font-weight:800;
  border-radius:0;
  background-color:#fff;
}