.entry {
  font-family: sans-serif;
  width:250px;
  margin-bottom:60px;
}

.poster {
  height: 375px;
  width: 250px;
  margin-bottom:20px;
}

.info {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  height:80px;
  padding-left:5px;
  border-left: solid 3px #989898;
}

.infoCont > p{
  font-size: .9em;
  margin:0;
  color: #989898;
}

.infoCont > h3 {
  font-size:1em;
  font-weight:800;
  line-height:15pt;
  margin-top:15px;
  margin-bottom:0px;
}

@media only screen and (max-width: 960px) {
  .infoCont > h3 {
    font-size: 1.2em;
  }

  .infoCont > p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 760px) {
  .entry{
    width:100%;
    margin-top: 20px;
  }

  .posterCont{
    text-align: center;
  }

  .poster{
    height: 450px;
    width: 300px;
  }

  .info {
    border: none;
  }

  .infoCont{
    width:300px;
    margin:0 auto;
    text-align:left;
    font-size:1.5em;
    border-left: solid 3px #989898;
  }

  .infoCont > p {
    margin-left:5px;
  }

  .infoCont > h3 {
    margin-top:0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: normal;
  }
}

